body {
  font-family: Arial, sans-serif;
  background: #2e0227;
  margin: 0;
  padding: 20px;
}

.container {
  background: rgb(252, 105, 201);
  max-width: 600px;
  margin: auto;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.header-img {
  display: block;
  margin: 0 auto 20px;
  max-width: 100%;
  border-radius: 10px;
}

h1, h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #fff;
}

label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
  color: #340979;
}

input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
}

button {
  margin-top: 15px;
  padding: 10px;
  width: 100%;
  background-color: #340979;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #5e2ca5;
}

.button-group {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 20px;
}

.button-group button {
  flex: 1;
}

.hasil {
  margin-top: 20px;
  background: #ffffff;
  padding: 15px;
  border-radius: 8px;
  text-align: center;
  font-weight: bold;
  color: #340979;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

#btnReset {
  margin-top: 10px;
  background-color: #4843d6fd;
}

#btnReset:hover {
  background-color: #fb534d;
}

.hidden {
  display: none;
}
